#no-email-selected {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 0 auto;
}

#email-body-item {
    padding: 20px;
}

#email-message {
    padding: 20px;
    margin-top: 20px;
    border: 2px solid black;
}
