.search-bar {
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: auto;
    padding: 10px;
    margin: 10px;

}
