#email-list {
    max-height: 80vh;
    overflow-y: auto;
}
#email-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
}

#email-details {
    flex-grow: 1;
    font-size: 18px;
    font-weight: 600;
}

img {
    align-self: center;
    padding: 10px;
}

img#unread {
    width: 50px;
    height: 60px;
}

img#read {
    width: 50px;
    height: 50px;
}

img#trash-can {
    width: 50px;
    height: 50px;
}

#email-list-item:hover {
    background-color: rgb(226, 199, 129);
    outline: 3px solid black;
}

#email-list-item.active {
    background-color: rgb(86, 207, 142);
    outline: 3px solid black;
}

img:hover {
    cursor: pointer;
}
