body {
    display: flex;
    flex-direction: column;
    height: 100vh;
	
}

.App-sidebar,
.App-email-index,
.App-email-body,
header,
footer {
    box-sizing: border-box;
	border: 3px solid black;
}

header,
footer {
	display: flex;
    justify-content: center;
	background-color: rgb(108, 108, 108);
}

header {
	flex: 0.05;
	color: red;
	text-shadow: 2px 2px 5px black;
}

main {
    display: flex;
    flex-direction: row;
	flex: 0.925;
}

.App-sidebar,
.App-email-index,
.App-email-body {
    display: flex;
}

.App-sidebar {
	justify-content: center;
	align-items: top;
	background-color: black;
}

#email-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.App-email-index {
	flex: 4;
	flex-direction: column;
	background-color: rgb(108, 108, 108);
}

.App-email-body {
	flex: 8;
	background-color: lightgrey;
}

footer {
	flex: 0.025;
}
