body {
    display: flex;
    flex-direction: column;
    height: 100vh;
	
}

.App-sidebar,
.App-email-index,
.App-email-body,
header,
footer {
    box-sizing: border-box;
	border: 3px solid grey;
}

header,
footer {
	width: 100vw;
	display: flex;
    justify-content: center;
}

header {
	flex: 0.05;
	color: red;
}

main {
    display: flex;
    flex-direction: row;
	flex: 0.925;
}

.App-sidebar,
.App-email-index,
.App-email-body {
    display: flex;
}

.App-sidebar {
	flex: 1;
	/* align-items: center; */
}

.App-email-index {
	flex: 4;
	flex-direction: column;
}

.App-email-body {
	flex: 8;
}

footer {
	flex: 0.025;
}
